<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
  <add key="IBKRAccountId" value="DUP735071" />
  <add key="TWSPort" value="7497" />
  <add key="DefaultTradeSizeUSD" value="10000" />
  <add key="TextForOpen" value="Took" />
  <add key="TextForClose" value="Trimmed" />
  <add key="DisclaimerText" value="The information provided is for educational and entertainment purposes only and NOT financial advice!" />
  <add key="DiscordWebHook" value="https://discord.com/api/webhooks/1458112931139944499/..." />
  <add key="SendToDiscord" value="True" />
 </appSettings>
</configuration>
